.sub-navbar-projects {
    background-color: none; /* Remove or change background color */
    padding: 10px 20px;
    margin-top: 10px; /* Position it just below the main navbar */
    border-bottom: 2px solid #333; /* Optional border to separate */
    margin-top: -250px;
  }
  
  .sub-navbar-projects ul {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    list-style: none;
    padding: 0;
  }
  
  .sub-navbar-projects li {
    margin: 0 20px; /* Space between the list items, adjusted left and right equally */
  }
  
  .sub-navbar-projects a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  .sub-navbar-projects a:hover {
    color: #000000; /* Hover color */
  }
  
  .active-link {
    color: #ff0022;
    font-weight: bold;
  }
  